@font-face {
  font-family: Commit;
  src: url('/fonts/CommitMono-400-Regular.otf') format('opentype');
}

@font-face {
  font-family: Recursive;
  src: url('/fonts/RecursiveMonoLnrSt-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Olivetti;
  src: url('/fonts/Px437_OlivettiThin_8x16.ttf') format('truetype');
}

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 14px;
  --background: #fdf6e3;
  --text: #586e75;
  --line: 1px solid var(--edge);
}

body {
  background: var(--background);
  width: 100vw;
  height: 100vh;
  font-family: Recursive, monospace;
  padding-top: 2rem;
}
  
.menu-bar {
  height: 2rem;
  border-bottom: var(--line);
  color: var(--text);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.inline-list {
  list-style: none;
  display: flex;
  flex-flow: row;
  height: 100%;
}

.inline-list > * {
  height: 100%;
  padding: 0 1em;
  display: flex;
  align-items: center;
  border-right: var(--line);;
}

.inline-list * {
  cursor: pointer;
}

.inline-list > *:hover {
  background: var(--blue);
}

.underline {
  border-bottom: 2px solid currentColor;
}

.fs {
  width: 100%;
  height: 100%;
}
.pane {
  width: 100%;
  height: 100%;
  display: flex;
}
.h-split > .half {
  height: 100%;
}
.v-split {
  flex-direction: column;
}

.canvas-container {
  display: flex;
  height: 300px;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.artboard {
  background: silver;
}

.border-right {
  border-right: var(--line);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}