@font-face {
  font-family: Commit;
  src: url('/fonts/CommitMono-400-Regular.otf') format('opentype');
}

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 14px;
  --background: #fdf6e3;
  --text: #586e75;
  --line: 1px solid rgb(220, 220, 200);
}
body {
  background: var(--background);
  width: 100vw;
  height: 100vh;
  font-family: Commit, monospace;
  padding-top: 2rem;
}
  
.menu-bar {
  height: 2rem;
  border-bottom: var(--line);
  color: var(--text);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 0.5em;
}

.inline-list {
  list-style: none;
  display: flex;
  flex-flow: row
}

.inline-list > * {
  margin-right: 1em;
}

.fs {
  width: 100%;
  height: 100%;
}
.pane {
  width: 100%;
  height: 100%;
  display: flex;
}
.h-split > .half {
  height: 100%;
}
.v-split {
  flex-direction: column;
}

.canvas-container {
  display: flex;
  height: 300px;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.artboard {
  background: silver;
}

.border-right {
  border-right: var(--line);
}