:host {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(var(--edge) 1px, transparent 0);
  background-size: 10px 10px;
  color: var(--text);
}
.viewport {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
}
.view-canvas {
  width: 100%;
/*   height: 100%; */
  flex-grow: 10;
  border: none;
}
.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border-top: 1px solid var(--edge);
  background-color: var(--background);
  font-size: 0.9rem;
  padding: 0 0.5em;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.2em 1em;
  background: rgb(from var(--text) r g b / 0.2);
  margin: 1px;
}

.button.selected {
  background-color: var(--text);
  color: var(--background);
}